/* import */
/*-------------------------------------------------------------------------------*/
@import "reset.css","http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300)";

/* vars
/*-------------------------------------------------------------------------------*/
$open-sans:'Open Sans Condensed', sans-serif;
$open-sans-fat:700;
$open-sans-skinny:300;

@mixin box-shadow() {
	-webkit-box-shadow:0 0 8px 0 #000;
	-moz-box-shadow:0 0 8px 0 #000;
	box-shadow:0 0 8px 0 #000;
}

@mixin gradient() {
    background: #323b40;
    background: -moz-radial-gradient(center, ellipse cover, #323b40 0%, #e4f5fc 56%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #323b40), color-stop(56%, #e4f5fc));
    background: -webkit-radial-gradient(center, ellipse cover, #323b40 0%, #e4f5fc 56%);
    background: -o-radial-gradient(center, ellipse cover, #323b40 0%, #e4f5fc 56%);
    background: -ms-radial-gradient(center, ellipse cover, #323b40 0%, #e4f5fc 56%);
    background: radial-gradient(center, ellipse cover, #323b40 0%, #e4f5fc 56%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323b40', endColorstr='#e4f5fc',GradientType=1 );
}

/* global
/*-------------------------------------------------------------------------------*/
section {
	background:#323b40;
	color:#fff;
}

hgroup {
	padding:4% 5%;
	b {
		display:block;
		margin-bottom:.15em;
		font-family:$open-sans;
		font-weight:$open-sans-fat;
		font-size:5em;
		letter-spacing:-.04em;	
	}
	i {
		display:block;
		font-family:$open-sans;
		font-weight:$open-sans-skinny;
		font-size:3em;
		font-style:normal;
	}
}	

article {
	padding:4% 5%;
	a {
		color:#eb3431;
		&:hover {
			color:#fff;
		}
		&.big {
			display:block;
			font-family:$open-sans;
			font-weight:$open-sans-fat;
			font-size:3.5em;
	 	}
	}
	dl {
		float:right;
	}		
	dt {
		margin-bottom:.5em;
		font-family:$open-sans;
		font-weight:$open-sans-fat;
		font-size:1.7em;
		line-height:1.5em;
		border-bottom:.7em solid #439bc7;
	}
	dd {
		line-height:170%;
		font-size:1.2em;
		&:before {
		   content:"\2192 ";
		   padding-right:1em;
		}
	}	
}

/* media queries
/*-------------------------------------------------------------------------------*/
@media only screen and (min-width:320px) and (max-width:960px) {
	body {
		background:#323b40;
	}
}

@media only screen and (min-width:320px) {
	dl {
		width:90%;
		margin:2em 5%;
	}	
}

@media only screen and (min-width:600px) {
	dl {
		width:40%;
		margin:2em 5%;
	}	
}

@media only screen and (min-width:960px) {
	html, body {
		height:100%;
		background:#fff;
		@include gradient();
	}
	i {
		color:#439bc7;
	}
	section {
		width:960px;
		height:100%;
		margin:auto;
		@include box-shadow();
	}
	dl {
		width:44%;
		margin:2em 3%;
	}
	article dt {
		border-bottom:1px solid #439bc7;	
	}
}