/* reset */
/*-------------------------------------------------------------------------------*/
@import url("reset.css");

/* fonts
/*-------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);

/* vars
/*-------------------------------------------------------------------------------*/
$open-sans:'Open Sans Condensed', sans-serif;
$open-sans-fat:700;
$open-sans-skinny:300;

/* media queries
/*-------------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) {
	html, body {
		height:100%;
		background:#fff;
	}
	section {
		width:960px;
		height:100%;
		margin:auto;
	}
}

@media only screen and (min-width: 320px) and (max-width: 960px) {
	body {
		background:#8cbdd4;
	}
}

/* global
/*-------------------------------------------------------------------------------*/
section {
	background:#8cbdd4;
	color:#fff;	
}

article {
	padding:4% 5%;
	b {
		font-family:$open-sans;
		font-weight:$open-sans-fat;
		font-size:5em;
		letter-spacing:-.04em;
		display:block;
		margin-bottom:.15em;	
	}
	i {
		font-family:$open-sans;
		font-weight:$open-sans-skinny;
		font-size:3em;
		font-style:normal;
		display:block;
		margin-bottom:1em;
	}
	p {
		font-family:$open-sans;
		font-weight:$open-sans-fat;
		font-size:3.5em;
	}
	a {
		color:#e35214;
		&:hover {
			color:#fff;
		}
	}
	dl {
		margin:2em 3em;
	}
	dt {
		width:98%;
		font-family:$open-sans;
		font-weight:$open-sans-fat;
		font-size:1.7em;
		line-height:1.5em;
		margin-bottom:.3em;
		border-bottom:.7em solid #a3cadb;
	}
	dd {
		line-height:170%;
		font-size:1.2em;
		&:before {
		   content:"\2192 ";
		   padding-right:1em;
		}
	}
}