@import url(reset.css);
@import "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300)";
/* import */
/*-------------------------------------------------------------------------------*/
/* vars
/*-------------------------------------------------------------------------------*/
/* global
/*-------------------------------------------------------------------------------*/
section {
  background: #323b40;
  color: #fff; }

hgroup {
  padding: 4% 5%; }
  hgroup b {
    display: block;
    margin-bottom: .15em;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 5em;
    letter-spacing: -0.04em; }
  hgroup i {
    display: block;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    font-size: 3em;
    font-style: normal; }

article {
  padding: 4% 5%; }
  article a {
    color: #eb3431; }
    article a:hover {
      color: #fff; }
  article a.big {
    display: block;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 3.5em; }
  article dl {
    float: right; }
  article dt {
    margin-bottom: .3em;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1.5em;
    border-bottom: .7em solid #439bc7; }
  article dd {
    line-height: 170%;
    font-size: 1.2em; }
    article dd:before {
      content: "\2192 ";
      padding-right: 1em; }

/* media queries
/*-------------------------------------------------------------------------------*/
@media only screen and (min-width:320px) and (max-width:960px) {
  body {
    background: #323b40; } }
@media only screen and (min-width:320px) {
  dl {
    width: 90%;
    margin: 2em 5%; } }
@media only screen and (min-width:600px) {
  dl {
    width: 40%;
    margin: 2em 5%; } }
@media only screen and (min-width:960px) {
  html, body {
    height: 100%;
    background: #fff;
    background: #222029;
    background: -moz-linear-gradient(top, #222029 63%, #403638 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(63%, #222029), color-stop(100%, #403638));
    background: -webkit-linear-gradient(top, #222029 63%, #403638 100%);
    background: -o-linear-gradient(top, #222029 63%, #403638 100%);
    background: -ms-linear-gradient(top, #222029 63%, #403638 100%);
    background: linear-gradient(top, #222029 63%, #403638 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222029', endColorstr='#403638',GradientType=0 ); }

  i {
    color: #439bc7; }

  section {
    width: 960px;
    height: 100%;
    margin: auto;
    -webkit-box-shadow: 0 0 8px 0 #000;
    -moz-box-shadow: 0 0 8px 0 #000;
    box-shadow: 0 0 8px 0 #000; }

  dl {
    width: 44%;
    margin: 2em 3%; }

  article dt {
    border-bottom: 1px solid #439bc7; } }
