html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {font-family:Arial, Verdana, sans-serif;font-size:.625em;line-height:1;}

focus {outline:3px solid #fff;}

ins {text-decoration:none}

del {text-decoration:line-through}

table {border-collapse:collapse;border-spacing:0}

ul, li {margin:0;padding:0;list-style:none;}

p {margin:0;padding:0;}

fieldset {border:0;}

button {text-indent:-9999px;border:0;cursor:pointer;vertical-align:middle;}

object {outline:none;} 

h1 {font-size:1.8em;} 
h2 {font-size:1.5em;} 
h3 {font-size:1.2em;} 
h4 {font-size:1.1em;} 
h5 {font-size:1em;}   
h6 {font-size:.9em;}  

a {text-decoration:none;cursor:pointer;outline:none;}		
a:hover {text-decoration:none;}								

img {border:0;}											

.clear {clear:both;}
.hide {display:none;}
.strong {font-weight:bold;}

::selection {background:#222;}
::-moz-selection {background:#222;}
::-webkit-selection {background:#222;}